{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 33.49672506950965,
        "longitude": -111.99564814567566,
        "elevation": 0,
        "unit_system": "imperial",
        "location_name": "Home",
        "time_zone": "America/Phoenix",
        "external_url": null,
        "internal_url": null
    }
}